/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800   Desktop
1800px + :      Big desktop

$breakpoints:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

########## 1em = 16px ##########

*/
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'MuseoSans-100';
  src: url("../fonts/MuseoSans-100.svg#MuseoSans-100") format("svg"), url("../fonts/MuseoSans-100.ttf") format("truetype"), url("../fonts/MuseoSans-100.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museosans_100-webfont';
  src: url("../fonts/museosans_100-webfont.eot");
  src: url("../fonts/museosans_100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_100-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans-300';
  src: url("../fonts/MuseoSans-300.svg#MuseoSans-300") format("svg"), url("../fonts/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans-300.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museosans_300-webfont';
  src: url("../fonts/museosans_300-webfont.eot");
  src: url("../fonts/museosans_300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_300-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans-500';
  src: url("../fonts/MuseoSans-500.svg#MuseoSans-500") format("svg"), url("../fonts/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans-500.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museosans_500-webfont';
  src: url("../fonts/museosans_500-webfont.eot");
  src: url("../fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_500-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans-700';
  src: url("../fonts/MuseoSans-700.svg#MuseoSans-700") format("svg"), url("../fonts/MuseoSans-700.ttf") format("truetype"), url("../fonts/MuseoSans-700.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museosans_700-webfont';
  src: url("../fonts/museosans_700-webfont.eot");
  src: url("../fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_700-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans-900';
  src: url("../fonts/MuseoSans-900.svg#MuseoSans-900") format("svg"), url("../fonts/MuseoSans-900.ttf") format("truetype"), url("../fonts/MuseoSans-900.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museosans_900-webfont';
  src: url("../fonts/museosans_900-webfont.eot");
  src: url("../fonts/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_900-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "MuseoSans-100", Arial, Helvetica, sans-serif; }

@font-face {
  font-family: "icons";
  src: url("../icons/icons.eot");
  src: url("../icons/icons.eot?#iefix") format("embedded-opentype"), url("../icons/icons.woff") format("woff"), url("../icons/icons.ttf") format("truetype"), url("../icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook-official:before {
  content: "\61"; }

.icon-twitter:before {
  content: "\62"; }

.icon-youtube-play:before {
  content: "\63"; }

.icon-right-open:before {
  content: "\64"; }

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  display: inline-block;
  padding: 1.3rem 2.6rem;
  background: #004ffa;
  text-decoration: none;
  border-radius: 3rem;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  transition: all .4s ease-in; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }

.row {
  max-width: 124rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 5rem !important; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0 !important;
          margin-bottom: 5rem !important; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: calc(100% - 2rem); }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }

.nav {
  background-color: #fff;
  width: 100%;
  height: 8rem;
  position: fixed;
  padding-top: 6.7rem;
  z-index: 999; }
  .nav__box {
    width: 73%;
    margin: 0 auto; }
  .nav__logo {
    margin-top: -2.3rem;
    margin-left: 1.7rem;
    transform: scale(1.05); }
  .nav::after {
    content: "";
    display: table;
    clear: both; }
  .nav__list {
    float: right;
    list-style: none;
    margin-right: .3rem; }
    .nav__list a {
      text-decoration: none; }
      .nav__list a, .nav__list a:link, .nav__list a:visited {
        text-decoration: none;
        color: #000; }
  .nav__item {
    display: inline-block;
    font-size: 1.9rem;
    text-align: center;
    padding-bottom: 4.5rem;
    padding-top: 1rem;
    word-spacing: 2px;
    text-shadow: 0 2px 5px #000; }
    .nav__item:not(:last-child) {
      margin-right: 4.45rem; }
    .nav__item:hover {
      border-bottom: .5rem solid blue; }

.footer {
  border-top: 1px solid #686868;
  background: #eee;
  font-size: 1.5rem;
  padding: 4rem 0; }
  .footer__box {
    max-width: 128rem;
    width: 100%;
    margin: 0 auto;
    text-align: left; }
  .footer--grey {
    color: #686868; }
  .footer--blue, .footer--blue:link, .footer--blue:visited {
    color: #004ffa;
    text-decoration: none; }
  .footer--blue:hover {
    font-family: 'MuseoSans-300',Arial, Helvetica, sans-serif; }
  .footer__social {
    float: right;
    font-family: "icons";
    font-size: 1.7rem; }
  .footer__links, .footer__links:link, .footer__links:visited {
    text-decoration: none;
    color: #686868; }
  .footer__links:hover {
    color: #004ffa;
    text-shadow: 0 1px 1px #383838; }

.hero {
  background: linear-gradient(rgba(11, 17, 27, 0.4), rgba(11, 17, 27, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 14rem center;
  height: 91.5vh;
  padding: 14rem 0;
  text-align: center;
  position: relative; }
  .hero__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.8rem;
    font-size: 5.7rem;
    line-height: 8.7rem;
    letter-spacing: .2rem;
    color: #fff;
    font-family: 'MuseoSans-100',Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 0 1px #000; }
  .hero__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 16rem; }

.about {
  margin-top: 10rem;
  margin-left: 4.5rem;
  margin-bottom: 8rem; }
  .about__heading-primary {
    font-size: 4rem;
    margin-bottom: 3.5rem;
    letter-spacing: 1px; }
  .about__heading-secondary {
    font-size: 2.6rem;
    letter-spacing: 1px;
    margin: 4rem 0; }
  .about__paragraph {
    font-size: 2rem;
    line-height: 3.2rem; }
    .about__paragraph--sub {
      font-size: 1.6rem;
      line-height: 2.8rem;
      padding-bottom: 2rem; }
  .about__link:link, .about__link:visited {
    text-decoration: none;
    color: #004ffa; }
  .about__link:hover {
    text-shadow: 0 1px 3px #000; }
  .about__list {
    max-width: 63%;
    margin: 2rem;
    margin-top: 2.8rem;
    list-style-type: circle;
    font-size: 2rem;
    text-align: justify; }
  .about__item {
    line-height: 3.2rem; }
    .about__item:not(:first-child) {
      padding-top: 1rem; }

.img-carousel {
  height: 83.5rem;
  background: green;
  position: relative; }

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem; }

.news {
  margin-top: 11rem;
  text-align: center;
  margin-bottom: 7rem; }
  .news__heading {
    display: inline-block;
    font-size: 5rem;
    font-weight: 100; }
  .news__thumbnail {
    width: 100%;
    height: 23rem; }
  .news__sub-heading {
    font-size: 1.8rem;
    text-align: left;
    color: #686868;
    margin: 1.5rem 0; }
  .news__p {
    padding-top: 1rem;
    font-size: 3em;
    text-align: left;
    line-height: 5rem;
    font-family: "MuseoSans-300", Arial, Helvetica, sans-serif; }
  .news__btn, .news__btn:link, .news__btn:visited {
    background: #fff;
    border: 2px solid #004ffa;
    margin: 2.5rem;
    color: #004ffa;
    font-size: 1.7rem; }
