// GRID
$grid-width: 124rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 2rem;

// COLORS
$color-white: #fff;
$color-grey:#686868;
$color-grey-dark:#383838;
$color-grey-light:#eee;
$color-black: #000;
$color-blue-grey: rgba(11, 17, 27, 0.4);
$color-blue: #004ffa;