// GRID
$grid-width: 128rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 2rem;

// COLORS
$color-white: #fff;
$color-black: #000;
$color-blue-grey: rgba(11, 17, 27, 0.4);
$color-blue: #004ffa;